:root {
  --background: #f2f4f3; /* Define your primary color */
  --primary: blue; /* Define your secondary color */
  --secondary: black; /* Define an accent color */
  --highlight: yellow;
  --complementary: #ef8026;
}

/* Styles for screens between 480px and 768px */
@media only screen and (max-width: 768px) {
  html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    height: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--background);
  }

  .outlet {
    height: calc(100% - 100px);
    background-color: var(--background);
  }

  /*LABEL TITLE*/
  h1 {
    font-size: 12px;
    color: white;
    margin: 0px;
  }

  /* NAVBAR TEXT */
  h2 {
    font-size: 12px;
    color: white;
    margin: 0px;
  }

  /* LOGIN SUBTITLE */
  h3 {
    font-size: 20px;
    color: var(--complementary);
    margin: 0px;
  }

  /* INPUT ERASE PLACEHOLDER ON CLICK*/
  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  /* INPUT THICK BORDER NONE ON CLICK*/
  :focus-visible {
    outline: none;
  }

  input::placeholder {
    opacity: 0.5;
    font-size: 15px;
  }

  input:focus-visible {
    border: 0.5px solid rgb(160, 160, 160);
    transition: border 0.4s ease, box-shadow 0.5s ease;
  }

  input:hover {
    cursor: pointer;
    border: 0.5px solid rgb(160, 160, 160);
    transition: border 0.4s ease, box-shadow 0.5s ease;
  }

  /**/

  /*CHART CANVAS RESPONSIVE SIZE*/
  canvas {
    max-width: 100% !important;
    max-height: 100% !important;
  }

  /*TABULATOR*/

  .tableContainer {
    width: 100%;
  }

  /*Style couleur background derière les headers des colonnes*/
  .tabulator .tabulator-header {
    background-color: transparent;
    border: none;
  }

  /*Style header pour chaque colonne (Text, background)*/
  .tabulator .tabulator-header .tabulator-col {
    border-right: none;
    background-color: transparent; /*couleur case pour titre  de colonne*/
    font-size: 10px; /*taille text pour titre  de colonne*/
    color: #9e9fa1; /*couleur text pour titre  de colonne*/
    font-weight: bold; /*weight text pour titre  de colonne*/
  }

  /*Style deplacer la totalité des headers colonne */
  .tabulator .tabulator-header .tabulator-header-contents {
    position: relative;
    overflow: hidden;
    padding-left: 4px; /*marge gauche des case titre de colonne*/
  }

  /*Background de tabulator (derière les colonnes et rows)*/
  .tabulator {
    background-color: transparent;
    border: none;
  }

  /*Background de tabulator (derière rows)*/
  .tabulator .tabulator-tableholder .tabulator-table {
    background-color: transparent;
  }

  /*Style rows et des texts)*/
  .tabulator-row {
    background-color: white; /*couleur rows (inclu pas les row pair)*/
    margin-bottom: 4px; /*marge entre chaque row*/
    padding-left: 4px; /*Deplacement des cell du row*/
    border-radius: 6px; /*radius de chaque row*/
    color: #636d79; /* couleur text chaque row*/
    font-size: 12px; /* taille text chaque row*/
  }

  /*Style rows pair* (pour couleur background)*/
  .tabulator-row.tabulator-row-even {
    background-color: white; /*couleur rows pair*/
  }

  /*Style positionnement des text de chaque cell*/
  .tabulator-row .tabulator-cell {
    border-right: none;
  }

  .tabulator .tabulator-footer {
    border-top: none;
    background-color: transparent;
  }

  .tabulator .tabulator-footer .tabulator-footer-contents {
    font-size: 12px;
  }

  .tabulator-paginator label {
    display: none;
  }

  /* Style Bouttons active*/
  .tabulator .tabulator-footer .tabulator-page.active {
    color: #ef8126;
  }

  .tabulator-row.tabulator-selectable:hover {
    background-color: #e7e8ea;
  }

  .tabulator
    .tabulator-header
    .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
    background-color: transparent;
  }
}
