.charts_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.ptf_content {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  box-sizing: border-box;
  gap: 10px;
}
